form{
    margin-top: 20px;
}

.mainDetail{
    display: grid;
    grid-template-columns: 1fr 200px 300px 0.5fr 30px;
    border: 2px solid black;
    padding: 5px 10px;
}

.btnDelete{
    border: 1px solid black;
    padding: 2px;
    border-radius: 5px;
    transition: 0.7s;
}

.btnDelete:hover{
    cursor: pointer;
    text-decoration: none;
    background-color: black;
    color: white;
}

input[type="number"]{
    height: 20px !important;
    text-align: center;
}

#minusNumber, #plusNumber{
    display: inline-block;
    color: black;
}

#minusNumber:hover, #plusNumber:hover{
    color: black;
    transform: scale(1.5);
    cursor: pointer;
    text-decoration: none;
}

img{
    width: 100%;
}

figcaption{
    margin-top: 10px;
}

.tenHang{
    color: rgba(0,0,0,0.4);
    font-size: 13px;
    font-style: italic;
}

.tenGiay{
    font-size: 18px;
}

.thanhTien{
    display: block;
    width: 100%;
    position: relative;
    height: 100px;
}

.thanhTien section, .thanhTien button{
    position: absolute;
    right: 0px;
}

#tongTien{
    display: inline-block;
    margin-left: 10px;
    border-bottom: 2px solid black;
    font-size: 30px;
}

.thanhTien section{
    font-size: 25px;
}

.thanhTien button{
    top: 50px;
    border: none;
    background-color: rgba(0,0,0,0.8);
    color: white;
    padding: 10px;
    width: 150px;
    font-size: 15px;
    margin-top: 10px;
}

.thanhTien button:hover{
    transform: scale(1.1);
    background-color: rgba(0,0,0,0.6);
}

.detailDonHang, .otherDetail{
    display: block;
    position: relative;
}

.detailDonHang::after{
    display: block;
    content: "";
    clear: both;
}
