<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="../static/css/detailOfShoes.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/mutualCss.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap-theme.min.css" />
        
</head>

<body class="container">
    <header class="headerHoaDon">
        <img src="../static/img/giay.jpg" alt="Logo" id="logo"/>
        <div id="search">
            <input type="text" placeholder="Search"/>
            <img src="../static/img/icons8-search-64.png" alt="Search Icon" />
        </div>
        <a id="signIn">Sign in</a>
        <div class="vlHeader"></div>
        <span id="total">&#36;0 &#8650;</span>
    </header>

    <nav class="navHeader">
        <div>Air Jordans</div>
        <div class="vlNav"></div>
        <div>Nike</div>
        <div class="vlNav"></div>
        <div>Adidas</div>
        <div class="vlNav"></div>
        <div>Yeezy</div>
        <div class="vlNav"></div>
        <div>Vans</div>
    </nav>

    <main class="mainContentHoaDon">
        <a href="#" id="hangSanXuat">Adidas</a>
        <p id="dauXetTrai">/</p>
        <a href="#" id="loaiGiay">Ultra Boost</a>
        
        <figure>
            <div class="imgGiay">
                <img src="../static/img/giay.jpg" alt="Giay" id="imgGiay"/>
                <div></div>
                <img src="../static/img/giay.jpg" alt="Giay" class="giay"/>
                <img src="../static/img/giay.jpg" alt="Giay" class="giay"/>
                <img src="../static/img/giay.jpg" alt="Giay" class="giay"/>
                <img src="../static/img/giay.jpg" alt="Giay" class="giay"/>
                <div></div>
                <div></div>
            </div>
            <figcaption id="thongTinGiay">
                <h4>Adidas</h4>
                <h2>Adidas Ultra Boost</h2>
                <h5>350$</h5>
                
                <section class="size">
                    <h5 class="titleSizeAvailable">Size avaiable</h5>
                    <a href="./sizeGuide.html" class="titleSizeGuide">Size guide</a>
                    <div></div>
                    <p id="38">38</p>
                    <p id="39">39</p>
                    <p id="40">40</p>
                    <p id="41">41</p>
                    <div></div>
                    <div></div>
                    <div></div>
                    <p id="42">42</p>
                    <p id="43">43</p>
                    <div></div>
                </section>
                
                <div id="addToCart">
                    <a href="#">Add To Cart</a>
                </div>
                
                <div class="share">
                    <a href="#"><img src="../static/img/facebook.png" alt="Facebook"></a>
                </div>
            </figcaption>
        </figure>
    </main>
    
    <section class="recommended">
        <h1>You may also like</h1>
        <figure class="recommendedDetail">  
            <img src="../static/img/giay.jpg">
            <figcaption>
                <p class="recommendedHangSanXuat">Adidas</p>
                <p class="recommendedTenGiay">Adidas Ultraboost</p>
            </figcaption>
            <a href="#"></a>
        </figure>
        
        <figure class="recommendedDetail">  
            <img src="../static/img/giay.jpg">
            <figcaption>
                <p class="recommendedHangSanXuat">Adidas</p>
                <p class="recommendedTenGiay">Adidas Ultraboost</p>
            </figcaption>
            <a href="#"></a>
        </figure>
        
        <figure class="recommendedDetail">  
            <img src="../static/img/giay.jpg">
            <figcaption>
                <p class="recommendedHangSanXuat">Adidas</p>
                <p class="recommendedTenGiay">Adidas Ultraboost</p>
            </figcaption>
            <a href="#"></a>
        </figure>
        
        <figure class="recommendedDetail">  
            <img src="../static/img/giay.jpg">
            <figcaption>
                <p class="recommendedHangSanXuat">Adidas</p>
                <p class="recommendedTenGiay">Adidas Ultraboost</p>
            </figcaption>
            <a href="#"></a>
        </figure>
        
    </section>

    <section id="banner">
        Logo
    </section>
    
    <footer class="footer">
        <section class="contact">
            <p><strong>Contact us at</strong></p>
            <p>abc@gmail.com</p>
        </section>
        
        <section class="information">
            <p><strong>Letter:</strong> </p>
            <input id="inputInformation" type="text" placeholder="Enter your email"/>
            <a href="#" id="informationSignup">Sign up</a>
        </section>
    </footer>
    <!-- Bootstrap -->
    <script src="../static/js/bootstrap/bootstrap.min.js"></script>
</body>
</html>