<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/mutualCss.css">
        <link rel="stylesheet" href="../static/css/sizeGuide.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap-theme.min.css" />
    </head>

    <body class="container">
        <header class="headerHoaDon">
            <img src="../static/img/giay.jpg" alt="Logo" id="logo"/>
            <div id="search">
                <input type="text" placeholder="Search"/>
                <img src="../static/img/icons8-search-64.png" alt="Search Icon" />
            </div>
            <a id="signIn">Sign in</a>
            <div class="vlHeader"></div>
            <span id="total">&#36;0 &#8650;</span>
        </header>
    
        <nav class="navHeader">
            <div>Air Jordans</div>
            <div class="vlNav"></div>
            <div>Nike</div>
            <div class="vlNav"></div>
            <div>Adidas</div>
            <div class="vlNav"></div>
            <div>Yeezy</div>
            <div class="vlNav"></div>
            <div>Vans</div>
        </nav>
      
        <h1>Size guide</h1>

        <section class="sizeGuide">
            <table class="table table-bordered table-hover" style="width: 500px;">
                <thead>
                    <tr>
                        <th>Foot length</th>
                        <th>EU Size</th>
                        <th>UK Size</th>
                        <th>US Size</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>23.7</td>
                        <td>38.5</td>
                        <td>5.5</td>
                        <td>6</td>
                    </tr>

                    <tr>
                        <td>24.1</td>
                        <td>39</td>
                        <td>6</td>
                        <td>6.5</td>
                    </tr>

                    <tr>
                        <td>24.5</td>
                        <td>40</td>
                        <td>6</td>
                        <td>7</td>
                    </tr>

                    <tr>
                        <td>25.4</td>
                        <td>41</td>
                        <td>7</td>
                        <td>8</td>
                    </tr>

                    <tr>
                        <td>25.8</td>
                        <td>42</td>
                        <td>7.5</td>
                        <td>8.5</td>
                    </tr>

                    <tr>
                        <td>26.2</td>
                        <td>42.5</td>
                        <td>8</td>
                        <td>9</td>
                    </tr>

                    <tr>
                        <td>26.7</td>
                        <td>43</td>
                        <td>8.5</td>
                        <td>9.5</td>
                    </tr>
                </tbody>
            </table>
            
        </section>

        <section id="banner">
            Logo
        </section>
        
        <footer class="footer">
            <section class="contact">
                <p><strong>Contact us at</strong></p>
                <p>abc@gmail.com</p>
            </section>
            
            <section class="information">
                <p><strong>Letter:</strong> </p>
                <input id="inputInformation" type="text" placeholder="Enter your email"/>
                <a href="#" id="informationSignup">Sign up</a>
            </section>
        </footer>
        <!-- Bootstrap -->
        <script src="../static/js/bootstrap/bootstrap.min.js"></script>
    </body>
</html>