<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Danh sách giày</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
    <link rel="stylesheet" th:href="@{/css/danhsachgiay.css}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css"
          href="https://select2.github.io/select2-bootstrap-theme/css/select2-bootstrap.css"/>
    <!--alert css-->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/alertify.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/bootstrap.min.css"/>
</head>

<body>
<ol class="breadcrumb">
    <li class="active"><b>Danh sách giày</b></li>
</ol>
<div id="App" ng-app="myApp" ng-controller="myCtrl" class="container">
    <div class="row bot15">
        <div class="col-sm-3 col-md-2 col-lg-2">
            <label for="txtMaGiay">Mã giày</label> <input type="text" id="txtMaGiay" class="form-control"/>
        </div>
        <div class="col-sm-5 col-md-4 col-lg-3">
            <label for="txtTenGiay">Tên giày</label> <input type="text" id="txtTenGiay" class="form-control"/>
        </div>
        <div class="col-xs-6 col-sm-2 col-md-2">
            <label for="txtGioiTinh">Giới tính</label>
            <select id="txtGioiTinh" name="txtGioiTinh" class="form-control">
                <option value="" selected="selected">Tất cả</option>
                <option value="Nam">Nam</option>
                <option value="Nữ">Nữ</option>
                <option value="Unisex">Unisex</option>
            </select>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2">
            <label>Nhà sản xuất</label>
            <select id="txtNhaSanXuat" class="form-control">
                <option value="" selected="selected">Tất cả</option>
                <option th:each="hsx : ${list_hsx}" th:attr="value=${hsx.tenHangSanXuat}"
                        th:text="${hsx.tenHangSanXuat}">
                </option>
            </select>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2">
            <label>Loại giày</label>
            <select class="form-control select2" id="txtLoaiGiay" name="txtLoaiGiay">
                <option></option>
                <optgroup ng-repeat="(key, value) in LoaiGiay | groupBy: 'hangSanXuat.tenHangSanXuat'"
                          label="{{key}}">
                    <option ng-repeat="x in value" value="{{x.tenLoaiGiay}}">
                        {{x.tenLoaiGiay}}
                    </option>
                </optgroup>
            </select>
        </div>
        <div class="col-xs-6 col-sm-2 col-md-1 col-lg-1">
            <div style="margin-top:31px;">
                <a class="btn btn-success" title="Thêm giày" style="display: inline; margin-top: -20px;" href="/giay">
                    <i class="fas fa-plus-square"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table id="table" class="table table-striped">
                <thead>
                <tr>
                    <th>Mã giày</th>
                    <th>Tên giày</th>
                    <th>Giới tính</th>
                    <th>Loại giày</th>
                    <th>Nhà sản xuất</th>
                    <th>Chức năng</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="giay : ${list_giay}">
                    <td>
                        <div th:attr="data-id=${giay.idGiay}" class="data-id">
                            <a href="#" th:text="${giay.maGiay}"></a>
                            <div class="Show">
                                <img th:attr="src=${giay.img1}"
                                     class="img-responsive"/>
                                <img th:attr="src=${giay.img2}"
                                     class="img-responsive"/>
                                <img th:attr="src=${giay.img3}"
                                     class="img-responsive"/>
                                <img th:attr="src=${giay.img4}"
                                     class="img-responsive"/>
                            </div>
                        </div>
                    </td>
                    <td th:text="${giay.tenGiay}"></td>
                    <td th:text="${giay.gioiTinh.tenGioiTinh}"></td>
                    <td th:text="${giay.loaiGiay.tenLoaiGiay}"></td>
                    <td th:text="${giay.loaiGiay.hangSanXuat.tenHangSanXuat}"></td>
                    <td>
                        <button type="button" class="edit" data-toggle="tooltip" title="Sửa">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button type="button" class="delete" title="Xóa" data-toggle="modal" data-target="#BoxModal">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                        <button type="button" class="" data-toggle="tooltip" title="Thêm chi tiết giày">
                            <i class="fas fa-wrench"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="BoxModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thông báo</h4>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc muốn xóa không?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Đồng ý</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-visible/1.2.0/jquery.visible.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<!-- angularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.17/angular-filter.min.js"></script>
<script th:src="@{/js/danhsachgiay.js}"></script>
<!--alert-->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>
</body>

</html>